/* Stylesheet for Treehouse Project #3: Online Registration Form */
/* by Nicoal Price */


/* --------- GENERAL STYLES ---------- */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
    border: 1px solid red;
}

body {
  font-family: 'Inika', serif;
  color: #384047;
}

header {
    background: black;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

h2 {
    font-size: 1.3em;
}

.wrapper {
    max-width: 640px;
    margin: auto;
}

/* ---------- MAIN CONTENT --------- */

/* ----- Intro ----- */

.intro {
    text-align: center;
    width: 93.75%;
    margin: auto;
}

.intro p {
    color: grey;
}

.page-title {
    text-transform: uppercase;
    font-size: 1.2em;
}

/* ----- Horizontal Rules ----- */

.thick-hr {
    width: 93.75%;
    border-bottom: 4px solid black;
    margin-bottom: 3px;
}

.thin-hr {
    width: 93.75%;
    border-bottom: 1px solid black;
    margin-top: 0;
}

/* ----- Form ----- */

form {
  width: 100%;
  margin: 30px auto;
  padding: 0;
  background: pink;
}

fieldset {
    width: 93.75%;
    margin: auto;
    padding: 0;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
  background: #eff0f1;
  font-size: 1em;
  height: 50px;
  padding: 15px;
  width: 100%;
  color: #8a97a0;
  margin-bottom: 30px;
  border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    float: left;
    margin-right: 12px;
    vertical-align: middle;
}

input[id="zipcode"] {
    width: 46.875%;
}

input:focus {
   border: 2px solid #46698b;
} 

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
    font-weight: 800px;
}

label {
  display: block;
  font-size: 1em;
}

.main-label {
    margin-top: calc(30px - 8px);
}

button {
  color: white;
  background-color: #6ba77b;
  font-size: 1.5em;
  text-align: center;
  border-radius: 5px;
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
  font-weight: 800;
}

/* -- Form Placeholder Styling -- */

input::-webkit-input-placeholder {
	color: rgba(100,100,100,.5);
	text-align: right;
    font-size: .8em;
    font-style: italic;
}

input::-moz-placeholder {
	color: rgba(100,100,100,.5);
	text-align: right;
    font-size: .8em;
    font-style: italic;
}

input:-moz-placeholder {   /* Older versions of Firefox */
	color: rgba(100,100,100,.5);
	text-align: right;
    font-size: .8em;
    font-style: italic;
}

input:-ms-input-placeholder { 
	color: rgba(100,100,100,.5);
	text-align: right;
    font-size: .8em;
    font-style: italic;
}

/* ---------- FOOTER --------- */

footer {
    text-align: center;
    font-style: italic;
    padding-bottom: 210px;
    font-size: .8em;
}


/* ---------- MEDIA QUERIES ---------- */

@media (min-width: 1200px) {

  form {
/*    max-width: 480px;*/
  }

}
